<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <style>
        .my-info {
            font-family: italic;
        }
        .my-warning {
            font-size:20px;
        }
        .table-some {
            color: #fff;
            background: #000;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="sample">
        <div class="alert" :class="addClass">
            Some Text
        </div>
        <div class="form-check">
            <label for="" class="form-check-label">
                <input type="radio"
                       class="form-check-input"
                       value="info"
                       v-model="divClass"
                >
                Info
            </label>
        </div>
        <div class="form-check">
            <label for="" class="form-check-label">
                <input type="radio"
                       class="form-check-input"
                       value="warning"
                       v-model="divClass"
                >
                Warning
            </label>
        </div>
        {{divClass}}
        <hr>
        <div class="form-check" v-for="(value,name) in flags">
            <label for="" class="form-check-label">
                <input type="checkbox"
                       class="form-check-input"
                       v-model="flags[name]"
                >
                {{name}}
            </label>
        </div>

        <table class="table" :class="flags">
            <tr>
                <td>Title</td>
                <td>Some</td>
                <td>nz</td>
            </tr>
            <tr>
                <td>Title</td>
                <td>Some</td>
                <td>nz</td>
            </tr>
            <tr>
                <td>Title</td>
                <td>Some</td>
                <td>nz</td>
            </tr>
        </table>
    </div>
</div>
<script src="bootstrap/dist/js/bootstrap.bundle.js"></script>
<script src="bootstrap/dist/js/bootstrap.js"></script>
<script>
    /*
    * :calss = "str"
    * :class = "array"
    * :class = "obj"
    * :class = "[str,array,obj]"
    * */
    new Vue({
        el: '.sample',
        data: {
            divClass: "info",//эта переменная контролирует переключение радиокнопок
            flags: {
                'table-bordered': false,
                'table-hover': false,
                'table-some': false
            }

        },
        computed: {
            addClass() {
                return [
                    'alert-'+ this.divClass,
                    'my-' + this.divClass
                ];
            }
        }


    })

</script>
</body>

</html>